**/target
**/.env*
!**/.env.example
/.idea
**/.venv
**/data_md
**/pubmed_pdfs
**/chroma
:**/node_modules

plans/

**/.env

# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Backup files
*.backup

# Binary and protobuf test files
*.bin
*.pb

**/*.log
**/.diesel_lock
*-dump.json
*-dump.html

# Dependencies
**/node_modules/
**/.pnp
**/.pnp.js

# Testing
/coverage

# Production
**/build
**/dist

# Misc
**/.DS_Store

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
