/target
**/target
**/.env*
!**/.env.example
/.idea
/llm_layer/.venv
/llm_layer/data_md
/llm_layer/pubmed_pdfs
/llm_layer/chroma
:**/node_modules

plans/

/llm_layer/.env

# Python cache files
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Backup files
*.backup

# Binary and protobuf test files
*.bin
*.pb

**/*.log
**/.diesel_lock
*-dump.json
*-dump.html

# JS Files
**/node_modules
